# Allow radio to interact with gpuservice
allow radio gpuservice:binder call;

# Used by System apps
allow radio system_app_data_file:dir r_dir_perms;
